<div class="">
	<script type="text/ng-template" id="modalService.html" >
		<div>
			<div class="modal-header">
				<h3 class="modal-title">Elija un servicio</h3>
			</div>
			<div class="modal-body">
				<button ng-click="filtrarPorCategoria('Rx')" class="btn btn-default" ng-class="{'btn-primary' : searchTipo == 'Rx' }">Rx</button>
				<button ng-click="filtrarPorCategoria('Mamo')" class="btn btn-default" ng-class="{'btn-primary' : searchTipo == 'Mamo' }">Mamo</button>
				<button ng-click="filtrarPorCategoria('TAC')" class="btn btn-default" ng-class="{'btn-primary' : searchTipo == 'TAC' }">TAC</button>
				<button ng-click="filtrarPorCategoria('US')" class="btn btn-default" ng-class="{'btn-primary' : searchTipo == 'US' }">US</button>
				<button ng-click="filtrarPorCategoria('Ekg')" class="btn btn-default" ng-class="{'btn-primary' : searchTipo == 'Ekg' }">Ekg</button>
				<button ng-click="filtrarPorCategoria('Tarjeta')" class="btn btn-default" ng-class="{'btn-primary' : searchTipo == 'Tarjeta' }">Tarjeta</button>
				<button ng-click="filtrarPorCategoria(null)" class="btn btn-default" >Quitar filtro</button>
				<hr/>
				<div class="form-group"><label for="" >Buscar</label> <input class="form-control" style="width: auto;display : inline-block" type="text" ng-model="servicioBusqueda"></div>
				<table class="table table-modal table-striped">
					<thead>
						<th>ID</th>
						<th>Categoria</th>
						<th>Nombre</th>
						<th>Precio</th>
					</thead>
					<tbody >
						<tr ng-show="precios[item.idServicio][formaPago.idFormaPago] > 0" ng-click="toggleServicio(item)" id="{{item.idServicio}}" ng-repeat="item in servicios | searchfilter:servicioBusqueda | searchfilterTipo:searchTipo"  > 
							<td >{{item.idServicio}}</td>
							<td >{{item.tipo}}</td>
							<td class="td-nombre2">{{item.nombre}}</td> 
							<td>{{precios[item.idServicio][formaPago.idFormaPago] |  currency:"Q"}}</td> 
							<td ng-show="seleccionado.idServicio == item.idServicio">X</td>
						</tr>
					</tbody>
				</table>
			<div class="modal-footer">
			    <button class="btn btn-primary" ng-click="ok()">Aceptar</button>
			    <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
			</div>
		</div>	
	</script>

	<div class="">
    	<div class="col-lg-12">
    		<button  class="btn btn-default pull-right" style="margin-left: -1000px;" ng-click="limpiar()" >Limpiar</button>
    		<ng-form class="form-inline" name="formAgregarFactura" style="display : inline-block;">
			
				<div class="form-group" ng-class="{'has-error' : !formAgregarFactura.paciente.$valid && serviciosFactura.length != 0}">
					<label for="" class="block">Paciente</label>
					<input type="text" class="form-control" name="paciente" ng-model="factura.paciente" placeholder="Paciente" required>
				</div>
				<div class="form-group" ng-class="{'has-error' : !formAgregarFactura.edad.$valid && serviciosFactura.length != 0}">
					<label for="" class="block">Edad</label>
					<input type="number" class="form-control" min="0" max="150" name="edad" ng-model="factura.edad" placeholder="Edad" required>
				</div>
				<div class="form-group" ng-class="{'has-error' : !formAgregarFactura.telefono.$valid && serviciosFactura.length != 0}">
					<label for="" class="block">Telefono</label>
					<input type="number" min="10000000" max="99999999" limit-to="8" name="telefono" class="form-control" ng-model="factura.telefono" placeholder="Telefono" required>
				</div>
				<div class="form-group" ng-show="false">
					<label for="" class="block">Monto</label>
					<input type="number" ng-disabled="true"class="form-control" name="monto" style="width:100px" ng-init="factura.monto = null"  ng-model="factura.monto"  placeholder="Monto" required>
					
				</div>
				<div class="form-group">
					<label for="" class="block">&nbsp;&nbsp;</label>
					<button ng-show="!editando" ng-click='showServicios()' class="btn btn-primary bottom">Lista de servicios</button>
				</div>
				<div  class="form-group">
					<input class="form-control" style="visibility:hidden;" type="text">	
					<p class="text-danger" style="vertical-align: bottom;" ng-show="numeroValido"> Serie/numero invalido</p>
					<p class="text-danger" style="vertical-align: bottom;" ng-hide="serviciosFactura.length == 0 || (formAgregarFactura.paciente.$valid && formAgregarFactura.edad.$valid && formAgregarFactura.telefono.$valid && formAgregarFactura.formaPago.$valid && (formAgregarFactura.nit.$valid || factura.formaPago != 'contado') && (formAgregarFactura.numero.$valid || factura.formaPago != 'contado') && (formAgregarFactura.nombre.$valid || factura.formaPago != 'contado')  && (formAgregarFactura.direccion.$valid || factura.formaPago != 'contado') )"> Tiene que llenar todos lo campos correctamente</p>
				</div>
				<ng-form ng-show="false" class="form-inline inline-block"   name="formAgregarServicio">
					<div class="form-group"  novalidate>
						<label for="" class="block">ID</label>
						<input type="number" min="0" class="form-control" name="idServicio" ng-model="newServicio.idServicio"  placeholder="ID" required>
					</div>
					<div class="form-group"  novalidate>
						<label for="" class="block">Nombre</label>
						<input type="text" class="form-control" ng-disabled="!cambioNombre" name="nombre" ng-model="newServicio.nombre"  placeholder="Nombre" required>
					</div>
					<div class="form-group">
						<label for="" class="block">Precio</label>
						<input type="number" ng-disabled="!cambioPrecio"  class="form-control" name="precio" ng-model="newServicio.precio"  placeholder="Precio" required>
					</div>
					<input type="hidden" ng-model="newServicio.tecnico">
					<div class="form-group">
						<label for="" class="block">Cantidad</label>
						<input type="number" min="1" class="form-control" style="width:80px" name="cantidad" ng-init="newServicio.cantidad = 1" ng-model="newServicio.cantidad"  placeholder="Cantidad" required>
					</div>
					<button type="submit" class="btn btn-success bottom" ng-click="agregar(newServicio)"  ng-disabled="!formAgregarServicio.$valid">Agregar Servicio</button>	
					<button ng-show="!editando" ng-click='showServicios()' class="btn btn-primary bottom">Lista de servicios</button>
				</ng-form>
				<ng-form  ng-show="false" class="form-inline inline-block"  name="formEditarServicio">
					<div class="form-group"  novalidate>
						<label for="" class="block">ID</label>
						<input type="number" disabled="false" class="form-control" name="idServicio" ng-model="editServicio.idServicio"  placeholder="ID" required>
					</div>
					<div class="form-group"  novalidate>
						<label for="" class="block">Nombre</label>
						<input type="text" class="form-control" name="nombre"  capitalize-first ng-disabled="!cambioNombre" ng-model="editServicio.nombre"  placeholder="Nombre" required>
					</div>
					<div class="form-group">
						<label for="" class="block">Servicio</label>
						<input type="number" step="0.01" min="0.01" ng-disabled="!cambioPrecio"   class="form-control" name="precio" ng-model="editServicio.precio"  placeholder="Precio" required>
					</div>
					
					<div class="form-group">
						<label for="" class="block">Cantidad</label>
						<input type="number" min="1" class="form-control" style="width:80px" name="cantidad" ng-init="editServicio.cantidad = 1" ng-model="editServicio.cantidad"  placeholder="Cantidad" required>
					</div>
					<button type="submit" ng-click="aceptarEdit(editServicio.index)" class="btn btn-success bottom" ng-disabled="!formEditarServicio.$valid">Aceptar</button>
					<button ng-show="editando" ng-click='cancelarEdit()' class="btn btn-danger bottom">Cancelar</button>
				</ng-form>
				<br>
				<br>
				<div class="form-group">
					<label for="" class="block">Forma de pago </label>
					<select class="form-control" ng-options="item as item.nombre for item in formaPago" name="formaPago" ng-model="factura.formaPago" required>
						<!-- <option ng-repeat="item in formaPago" value="{{item.idFormaPago}}">{{item.nombre}}</option> -->
					</select>
				</div>
				<div class="form-group" ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'contado' || factura.formaPago.nombre.toLocaleLowerCase() == 'tarjeta de credito'" ng-class="{'has-error' : !formAgregarFactura.nit.$valid && serviciosFactura.length != 0}">
					<label for="" class="block">NIT</label>
					<input type="text" style="width : 150px" class="form-control" name="nit"  ng-model="factura.nit"  placeholder="NIT" required>
				</div>
				<div class="form-group" ng-show="(factura.formaPago.nombre.toLocaleLowerCase() == 'contado' || factura.formaPago.nombre.toLocaleLowerCase() == 'tarjeta de credito') && !facturacionAuto"  ng-class="{'has-error' : !formAgregarFactura.serie.$valid && serviciosFactura.length != 0}" >
					<label for="" class="block" >Serie</label>
					<input type="text"  style="width : 100px" class="form-control" name="serie"  ng-model="factura.serie"  placeholder="Serie" required>
				</div>
				<div class="form-group" ng-show="(factura.formaPago.nombre.toLocaleLowerCase() == 'contado' || factura.formaPago.nombre.toLocaleLowerCase() == 'tarjeta de credito') && !facturacionAuto"  ng-class="{'has-error' : !formAgregarFactura.numero.$valid && serviciosFactura.length != 0}">
					<label for="" class="block" >No.</label>
					<input type="number" style="width : 100px" class="form-control" name="numero"  ng-model="factura.numero"  placeholder="No." required>
				</div>
				<div class="form-group" ng-class="{'has-error' : !formAgregarFactura.nombre.$valid && serviciosFactura.length != 0}" ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'contado' || factura.formaPago.nombre.toLocaleLowerCase() == 'tarjeta de credito'">
					<label for="" class="block">Nombre a facturar</label>
					<input type="text" class="form-control" name="nombre"  ng-model="factura.nombre"  placeholder="Nombre" required>
				</div>
				<div class="form-group" ng-class="{'has-error' : !formAgregarFactura.direccion.$valid && serviciosFactura.length != 0}" ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'contado' || factura.formaPago.nombre.toLocaleLowerCase() == 'tarjeta de credito'">
					<label for="" class="block">Direccion de facturacion</label>
					<input type="text" class="form-control" name="direccion"  ng-model="factura.direccion"  placeholder="Direccion" required>
				</div>
				<div class="form-group" ng-class="{'has-error' : !formAgregarFactura.formaPagoRef.$valid && serviciosFactura.length != 0}" ng-show="factura.formaPago.nombre.toLocaleLowerCase() != 'contado'">
<!--				
					<label ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'tarjeta de credito'" for="" class="block">No. de autorización</label>
					<label ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'seguro'" for="" class="block">No. de poliza</label>
					<label ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'igss'" for="" class="block">No. de carnet del IGSS</label>
					<input ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'tarjeta de credito'" placeholder="No. de autorización" type="text" style="width : 150px" class="form-control" name="formaPagoRef"  ng-model="factura.formaPagoRef" required>
					<input ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'seguro'" type="text" placeholder="No. de poliza"  style="width : 150px" class="form-control" name="formaPagoRef"  ng-model="factura.formaPagoRef" required>
					<input ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'igss'" type="text" placeholder="No. de carnet del IGSS" style="width : 150px" class="form-control" name="formaPagoRef"  ng-model="factura.formaPagoRef" required>
-->
					<label for="" class="block">Dato de referencia</label>
					<input placeholder="No. de autorización" type="text" style="width : 150px" class="form-control" name="formaPagoRef"  ng-model="factura.formaPagoRef" >
					
				</div>
				<button type="submit"  ng-show="factura.formaPago.nombre.toLocaleLowerCase() != 'contado' && factura.formaPago.nombre.toLocaleLowerCase() != 'tarjeta de credito'" ng-click="terminarFactura(factura)"   class="btn btn-default bottom" ng-disabled="(!formAgregarFactura.formaPagoRef.$valid || !formAgregarFactura.paciente.$valid || !formAgregarFactura.edad.$valid || !formAgregarFactura.telefono.$valid || !formAgregarFactura.formaPago.$valid) || numeroValido || serviciosFactura.length == 0">Terminar Factura</button>
				<button type="submit" ng-show="factura.formaPago.nombre.toLocaleLowerCase() == 'contado' || factura.formaPago.nombre.toLocaleLowerCase() == 'tarjeta de credito'" ng-click="terminarFactura(factura)"   class="btn btn-default bottom" ng-disabled="(!formAgregarFactura.serie.$valid || !formAgregarFactura.paciente.$valid || !formAgregarFactura.edad.$valid || !formAgregarFactura.telefono.$valid || !formAgregarFactura.formaPago.$valid || !formAgregarFactura.nit.$valid || !formAgregarFactura.numero.$valid ||  !formAgregarFactura.nombre.$valid  || !formAgregarFactura.direccion.$valid) || numeroValido || serviciosFactura.length == 0">Terminar Factura</button>
    		</ng-form>
    		<hr>
    		<table class="table table-striped servicos-factura">
				<thead>
					<th>No.</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Cantidad</th>
					
				</thead>
				<tbody >
					<tr id="{{item.idUsuarios}}" ng-repeat="item in serviciosFactura" > 
						<td >{{$index+1}}</td>
						<td class="td-nombre">{{item.nombre}}</td> 
						<td>{{item.precio |  currency:"Q"}}</td> 
						<td>{{item.cantidad}}</td> 
						
						<td class="td-buttons" >
							<!-- <button class="btn btn-success" ng-click="editar($index)">
								Editar
							</button> -->
							<button class="btn btn-danger" ng-click="eliminar($index)">
								Eliminar
							</button>
						</td> 
					</tr>
					</div> 
				</tbody>
			</table>	
    	</div>
	</div>
</div>
